/*--project--font--*/
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---project--colors---*/
.light--1{
    background-color: rgba(94, 186, 248, 0.75);
}
.light--2{
    background-color: rgba(104, 251, 185, 0.75);
}
.light--3{
    background-color: rgba(250, 145, 80, 0.75);
}
.light--4{
    background-color: rgba(225, 193, 110, 0.75);
}
.light--5{
    background-color: rgba(81, 65, 79, 0.75);
}
.light--6{
    background-color: rgba(114, 47, 55, 0.75);
}
.light--7{
    background-color: rgba(0, 255, 127, 0.75);
}
.dark--1{
    background-color:rgba(94, 186, 248, 0.30);
}
.dark--2{
     background-color:rgba(104, 251, 185, 0.30);
 }
.dark--3{
    background-color: rgba(250, 145, 80, 0.30);
}
.dark--4{
    background-color:rgba(225, 193, 110, 0.30);
}
.dark--5{
    background-color:rgba(81, 65, 79, 0.30);
}
.dark--6{
     background-color:rgba(114, 47, 55, 0.30);
 }
.dark--7{
    background-color: rgba(0, 255, 127, 0.30);
}


/*-----general--styling----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #ffde59, #ff914d);
}






